body {
    background-image: url(../images/skyline.png);/*source: flyclipart.com*/
    background-size: 500px;
}

.container {
    border: solid 5px #00173f;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 800px;
    min-height: 450px;
    background: white;

}

h1, .wrapper, .image-wrapper {
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #00173f;
    margin-top: 10px;
    margin-bottom: 10px;

}

#game, #row {
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
}

#timer {
    color: red;
    font-weight: bold;
}

#question {
    font-weight: bold;
}

#answers {
    color: rgb(138, 138, 139);
}

img {
    border: dashed 5px #00173f;
    margin-bottom: 10px;
}

#answers {
    cursor: pointer;
}

.end-result {
    color: black;
    font-weight: bold;
}

